:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;

  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("fonts/OswaldRegular.eot");
  src: url("fonts/OswaldRegular.eot") format("embedded-opentype"),
    url("fonts/OswaldRegular.woff2") format("woff2"),
    url("fonts/OswaldRegular.woff") format("woff"),
    url("fonts/OswaldRegular.ttf") format("truetype"),
    url("fonts/OswaldRegular.svg#OswaldRegular") format("svg");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("fonts/OswaldMedium.eot");
  src: url("fonts/OswaldMedium.eot") format("embedded-opentype"),
    url("fonts/OswaldMedium.woff2") format("woff2"),
    url("fonts/OswaldMedium.woff") format("woff"),
    url("fonts/OswaldMedium.ttf") format("truetype"),
    url("fonts/OswaldMedium.svg#OswaldMedium") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("fonts/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular.eot") format("embedded-opentype"),
    url("fonts/OpenSansRegular.woff2") format("woff2"),
    url("fonts/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular.ttf") format("truetype"),
    url("fonts/OpenSansRegular.svg#OpenSansRegular") format("svg");
}

/* Container */
.container {
  width: 100%;
  max-width: 1110px;

  display: -webkit-box;
  display: flex;

  margin: 0 auto;
}

/* Header */
.page-header {
  background: #404149 url("img/header-bg.jpg") center no-repeat;

  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.page-header > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-top: 198px;
  padding-bottom: 317px;
}

.header-title {
  font-size: 64px;
}

.header-subtitle {
  padding-top: 18px;

  font-size: 18px;
  font-weight: 400;
}

/* Stat */
.stat {
  margin: -150px auto 0;
  padding: 54px 0;

  width: 100%;
  max-width: 1110px;

  display: flex;
  justify-content: center;

  background-color: #f7f7f7;
}

.stat-box {
  width: 100%;
  max-width: 190px;

  margin-left: 30px;

  text-align: center;
}

.stat-box:first-child {
  margin-left: 0;
}

.stat-box > h2 {
  font-size: 72px;
  font-weight: 500;
  color: #f7654a;
  text-transform: uppercase;
}

.stat-box > h3 {
  margin-top: 4px;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.stat-box > p {
  margin-top: 1px;
  font-size: 18px;
  font-weight: 500;
  color: #999;
}

/* Holidays */
.holidays {
  margin: 99px auto 101px;
}

.page-title {
  font-size: 36px;
  font-weight: 500;
  color: #404149;
  text-align: center;
  text-transform: uppercase;
}

.holidays > .container {
  margin-top: 50px;

  justify-content: space-between;
}

.holiday-box {
  position: relative;
}

.holiday-box > p {
  margin-top: 60px;

  font-size: 24px;
  font-weight: 500;
  color: #404149;
}

.holiday-box > p::before {
  content: "";

  position: absolute;
  bottom: 50px;
  left: 0;

  width: 55px;
  height: 6px;
  background-color: #f7654a;
}

/* Banner */
.banner {
  background-color: #f7654a;
}

.banner > .container {
  justify-content: space-between;
  align-items: center;
}

.textbox {
  color: #fff;
  text-transform: uppercase;
}

.textbox > h4 {
  margin-top: 30px;

  font-size: 48px;
  letter-spacing: 1.5px;
}

.textbox > p {
  margin: 8px 0 38px;

  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.15px;
}

.btn {
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.7px;

  background-color: #fff;

  padding: 14px 30px 14px 26px;
}

.btn > img {
  margin-right: 11px;
}

/* Program */
.program {
  margin-top: 150px;
}

.program > .page-title {
  margin-bottom: 58px;

  color: #000;
}

.program > .container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.program-box {
  width: 100%;
  max-width: 350px;

  margin-bottom: 32px;

  background-color: #f7f7f7;
  text-align: center;
}

.program-box > img {
  margin-top: 52px;
}

.program-box > h5 {
  margin: 10px 4px 59px 0;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

/* Gallery */
.gallery {
  margin-top: 115px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > img {
  background-color: #404149;
  opacity: 0.5;
}

.gallery > img:hover {
  opacity: 1;
}
